.articleTextToggleButton {
    background-color: red;
    border: 1px solid rgb(102, 102, 102);
    padding: 12px 12px;
    font-size: 12px;
    color: bisque;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    outline: rgb(102, 102, 102);
    border-radius: 12px;
  }